<form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
    <div class="grid md:grid-cols-2 gap-4">
        <div>
            <label for="name" class="block text-sm font-medium text-[#757575] mb-1">Name</label>
            <input id="name" formControlName="name" type="text" placeholder="Enter your name"
                class="p-3 border border-[#E0E0E0] text-sm placeholder:text-[#BDBDBD] rounded-[8px] w-full">
        </div>
        <div>
            <label for="email" class="block text-sm font-medium text-[#757575] mb-1">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="Enter your email"
                class="p-3 border border-[#E0E0E0] text-sm placeholder:text-[#BDBDBD] rounded-[8px] w-full">
        </div>
        <div>
            <label for="product" class="block text-sm font-medium text-[#757575] mb-1">Product name</label>
            <input id="product" formControlName="product" type="text" placeholder="Enter name of product"
                class="p-3 border border-[#E0E0E0] text-sm placeholder:text-[#BDBDBD] rounded-[8px] w-full">
        </div>
        <div>
            <label for="vendor" class="block text-sm font-medium text-[#757575] mb-1">Vendor name</label>
            <input id="vendor" formControlName="vendor" type="text" placeholder="e.g. Jumia, Airpeace, Spotify"
                class="p-3 border border-[#E0E0E0] text-sm placeholder:text-[#BDBDBD] rounded-[8px] w-full">
        </div>
    </div>
    <button type="submit"
        class="w-full mt-6 bg-[#9444CB] text-white flex items-center justify-center gap-2 rounded-[8px] py-3 px-6 hover:brightness-90 transition cursor-pointer">
        <span class="text-lg font-semibold">Submit</span>
        <img src="icons/arrow-left.png" alt="Submit" class="h-2.5 w-5">
    </button>
</form>