<div class="shadow border border-gray-200 rounded-xl bg-white">
    <mat-list class="list-container">
        <span class="list-title">Category</span>
        <mat-selection-list class="selection-list" [multiple]="false">
            <mat-list-option togglePosition="before"> <span class="list-option">Restaurant</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Music</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Shopping</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Ride</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">E-commerce</span></mat-list-option>
        </mat-selection-list>
    </mat-list>

    <mat-list class="list-container">
        <span class="list-title">Price</span>
        <div>
            <mat-slider>
                <input matSliderStartThumb>
                <input matSliderEndThumb>
            </mat-slider>
        </div>
        <div>
            <mat-chip-listbox aria-label="Price selection">
                <mat-chip color="accent">$$$</mat-chip>
                <mat-chip color="accent">$$$$</mat-chip>
            </mat-chip-listbox>
        </div>
    </mat-list>

    <mat-list class="list-container">
        <span class="list-title">Percentage</span>
        <mat-selection-list class="selection-list" [multiple]="false">
            <mat-list-option togglePosition="before"><span class="list-option">Free</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">0 - 10%</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">10 - 25%</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">35 - 50%</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">50 - 65%</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">65% &
                    above</span></mat-list-option>
        </mat-selection-list>
    </mat-list>

    <mat-list class="list-container">
        <span class="list-title">Location</span>
        <mat-selection-list class="selection-list" [multiple]="false">
            <mat-list-option togglePosition="before"><span class="list-option">Lagos</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Ogun</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Oyo</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Abuja</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">Port
                    Harcourt</span></mat-list-option>
            <mat-list-option togglePosition="before"><span class="list-option">65% and
                    Above</span></mat-list-option>
        </mat-selection-list>
    </mat-list>
</div>