<div class="flex justify-center items-center min-h-[500px] bg-whit md:p-8">
    <div
        class="bg-white flex flex-col gap-7 md:gap-24 lg:flex-row py-10 md:py-[55px] px-4 md:px-20 md:rounded-xl box-shadow w-full max-w-6xl">
        <div class="grid gap-2 md:gap-6 md:w-[407px]">
            <div class="grid">
                <div class="flex -space-x-2">
                    <img class="w-12 h-12 rounded-full" src="/images/headshot1.png" alt="User">
                    <img class="w-12 h-12 rounded-full" src="/images/headshot2.png" alt="User">
                    <img class="w-12 h-12 rounded-full" src="/images/headshot3.png" alt="User">
                </div>
                <img class="my-2.5 h-3" src="/icons/underline.png" alt="User">
            </div>
            <h2 class="text-2xl md:text-[32px] md:tracking-[-1.5px] md:leading-[36px] font-medium mb-1 md:mb-2">
                Don't quite find what you want?
            </h2>
            <p class="text-gray-600 text-base md:text-xl">
                Let us know and we will make it available for you in a jiffy.</p>
        </div>
        <div class="lg:w-[507px]">
            <app-formfield></app-formfield>
        </div>
    </div>
</div>