<section>
    <app-navbar></app-navbar>
    <header class="bg-[#EE7037] w-full max-[450px]:flex-col  max-[450px]:h-fit max-[450px]:py-[20px] max-[450px]:px-[20px] max-[450px]:pb-[40px] flex gap-[50px] overflow-hidden items-center justify-center h-[320px]">
        <img class="w-[239px] h-[239px] object-contain mt-[-6%] max-[450px]:ml-[-300px] max-[450px]:mt-[-100px] ml-[-351px]" src="/images/starhead.png" alt="">
        <span class="text-[56px] max-[450px]:flex-col max-[450px]:flex max-[450px]:items-center max-[450px]:justify-center max-[450px]:w-full text-white">
            <p class="font-bold max-[450px]:leading-[60px]">Explore all Coupons on </p>
            <p class="font-[300]">TwentiesTribe</p>
        </span>
        <div class="w-[240px] h-fit flex flex-col items-center justify-center text-white gap-[32px]">
            <img class="w-full h-[138px]" src="/images/Frame 2910.png" alt="">
            <span>
                <p class="text-[12px] font-[300] pb-[5px]">PROMOTED</p>
               <span class="flex w-full items-end justify-between">
                <h1 class="text-[20px] font-[700]">UX Designer Intern at Google</h1>
                <img class="w-[22px] h-[22px]" src="/images/Vector.png" alt="">
               </span> 
            </span>
        </div>
        <img class="w-[152.47px] max-[450px]:hidden h-[99.11px] mt-[-180px] absolute right-0 mr-[-32px] object-contain" src="/images/cloudhead.png" alt="">
    </header>
</section>