<section>
    <div class=" sticky top-0 z-50">
        <app-navbar></app-navbar>
    </div>
    <header
        class="bg-[#EE7037] w-full max-md:flex-col  max-md:h-fit max-md:py-[20px] max-md:px-[20px] max-md:pb-[40px] flex gap-[50px] overflow-hidden items-center justify-center h-[320px]">
        <img class="w-[239px] h-[239px] object-contain mt-[-6%] max-md:ml-[-300px] max-md:mt-[-100px] ml-[-351px]"
            src="/images/starhead.png" alt="">
        <span
            class="text-[56px] max-md:flex-col max-md:flex max-md:items-center max-md:justify-center max-md:w-full text-white">
            <p class="font-bold max-md:leading-[60px]">Explore all Coupons on </p>
            <p class="font-[300]">TwentiesTribe</p>
        </span>
        <div class="w-[240px] h-fit flex flex-col items-center justify-center text-white gap-[32px]">
            <img class="w-full h-[138px]" src="/images/Frame 2910.png" alt="">
            <span>
                <p class="text-[12px] font-[300] pb-[5px]">PROMOTED</p>
                <span class="flex w-full items-end justify-between">
                    <h1 class="text-[20px] font-[700]">UX Designer Intern at Google</h1>
                    <img class="w-[22px] h-[22px]" src="/images/Vector.png" alt="">
                </span>
            </span>
        </div>
        <img class="w-[152.47px] max-md:hidden h-[99.11px] mt-[-180px] absolute right-0 mr-[-32px] object-contain"
            src="/images/cloudhead.png" alt="">
    </header>
</section>