<div>
  <mat-list class="list-container">
    <span class="list-title">Category</span>
    <mat-selection-list class="selection-list" [multiple]="false">
      <mat-list-option togglePosition="before"> <span class="list-option">Restaurant</span></mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Music</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Shopping</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Ride</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">E-commerce</mat-list-option>
    </mat-selection-list>
  </mat-list>

  <mat-list class="list-container">
    <span class="list-title">Price</span>
    <div>
      <mat-slider>
        <input matSliderStartThumb>
        <input matSliderEndThumb>
      </mat-slider>
    </div>
    <div>
      <mat-chip-listbox aria-label="Price selection">
        <mat-chip color="accent">$$$</mat-chip>
        <mat-chip color="accent">$$$$</mat-chip>
      </mat-chip-listbox>
    </div>
  </mat-list>

  <mat-list class="list-container">
    <span class="list-title">Percentage</span>
    <mat-selection-list class="selection-list" [multiple]="false">
      <mat-list-option class="list-option" togglePosition="before">Free</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">0 - 10%</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">10 - 25%</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">35 - 50%</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">50 - 65%</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">65% & above</mat-list-option>
    </mat-selection-list>
  </mat-list>

  <mat-list class="list-container">
    <span class="list-title">Location</span>
    <mat-selection-list class="selection-list" [multiple]="false">
      <mat-list-option class="list-option" togglePosition="before">Lagos</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Ogun</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Oyo</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Abuja</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">Port Harcourt</mat-list-option>
      <mat-list-option class="list-option" togglePosition="before">65% and Above</mat-list-option>
    </mat-selection-list>
  </mat-list>
</div>