<!-- The Navigation Bar -->
<app-navbar></app-navbar>

<!-- The Hero Scetion -->
<app-header></app-header>

<!-- The App Body -->
<main class="bg-[#FAFAFA]">
    <div class="p-6 pt-10 pr-5 pb-6 pl-5 sm:pr-10 sm:pl-10">
        <div>
            <div class="relative flex gap-8 max-md:flex-col">
                <div class="hidden lg:block">
                    <app-filter-bar></app-filter-bar>
                </div>

                <div class="w-full">
                    <div class="flex flex-col md:flex-row md:items-center gap-4 w-full">
                        <!-- search bar -->
                        <div class="flex-1">
                            <app-search-bar></app-search-bar>
                        </div>
                        <!-- sorting -->
                        <div class="flex justify-between items-center gap-5 max-md:gap-10">
                            <div class="bg-white rounded-2xl py-2 px-4">
                                <app-sortings></app-sortings>
                            </div>
                            <div class="flex lg:hidden ">
                                <app-filters-container></app-filters-container>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 mt-3">
                            <app-card></app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- The Footer -->
<app-footer></app-footer>