<div class="grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] gap-4">
<div *ngFor="let offer of paginatedOffers" 
     class="p-4 bg-slate-50 rounded-xl border border-gray-200 py-6 px-4 grid gap-4 md:gap-6">
  <div class="flex justify-between items-center mb-2">
    <img src="/images/jumia-logo.png" alt="Jumia" class="w-10 h-10 rounded">
    <div class="flex items-center gap-5">
      <button class="cursor-pointer hover:brightness-90">
        <img src="/icons/share.png" alt="Share" class="h-4">
      </button>
      <button class="cursor-pointer hover:brightness-90">
        <img src="/icons/bookmark.png" alt="Bookmark" class="h-4">
      </button>
    </div>
  </div>
  
  <div class="flex gap-4 justify-between items-center">
    <h2 class="text-base text-[#1B1C1E] font-semibold">{{ offer.title }}</h2>
    <span class="text-base text-[#1B1C1E] font-semibold">{{ offer.coupon_discount }}</span>
  </div>
  <p class="text-[#616161] text-xs font-medium">{{ offer.description }}</p>
  
  <button class="mt-1 cursor-pointer w-full py-2 px-4 border rounded-xl text-sm font-bold flex items-center justify-center gap-2 hover:bg-gray-100">
    <span>See Offer</span>
    <img src="/icons/black-arrow-left.png" alt="See Offer" class="h-2">
  </button>
</div>
</div>
<!-- Pagination Controls -->
<div class="flex justify-center items-center gap-3 mt-4">
  <button (click)="goToPage(currentPage - 1)" 
          [disabled]="currentPage === 1" 
          class="px-3 py-2 border rounded-lg text-gray-700 hover:bg-gray-200 disabled:opacity-50">
    Previous
  </button>

  <span class="font-semibold text-gray-700">Page {{ currentPage }} of {{ totalPages }}</span>

  <button (click)="goToPage(currentPage + 1)" 
          [disabled]="currentPage === totalPages" 
          class="px-3 py-2 border rounded-lg text-gray-700 hover:bg-gray-200 disabled:opacity-50">
    Next
  </button>
</div>