<!-- Search bar -->
<div class="w-full">
    <div class="relative mt-1">
        <input id="search" type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()"
            placeholder="Search for store items"
            class="w-full p-3.5 pl-6 pr-12 border border-[#616161] placeholder:text-[#616161] rounded-[48px] text-base font-medium">
        <span class="absolute inset-y-0 right-6 flex items-center text-gray-500">
            <img src="/icons/search-light.png" alt="search" class="h-[18px] w-[18px]">
        </span>
    </div>
</div>
