@import "tailwindcss";

@font-face {
    font-family: 'CreatoDisplay';
    src: url('/public/fonts/CreatoDisplay-Regular.otf') format('opentype');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'CreatoDisplay', sans-serif;
}